<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body >
  <div id="app">

    
      <!-- INICIO OFFCANVAS NAV -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" :class="{darkClass : darkMode}">
        <div class="offcanvas-body d-flex flex-column justify-content-between p-0 pb-5" >
          <button class="btn btn-nav btn-nav-close col-2 col-lg-2 d-flex justify-content-center align-items-center p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" :class="{darkContainer : darkMode}"><i class="bi bi-x-lg" :class="{darkIcon : darkMode}"></i></button>
          <nav class="d-flex flex-column nav">
            <a href="./accounts.html"><i class="bi bi-person-square mx-3"></i>My accounts</a>
            <a class="active" href="./cards.html"><i class="bi bi-credit-card mx-3"></i>Cards</a>
            <a href="./transfers.html"><i class="bi bi-arrow-left-right mx-3"></i>Transfers</a>
            <a href="./loan-application.html"><i class="bi bi-wallet2 mx-3"></i>Loans</a>
          </nav>
          <div class="form-check form-switch d-flex  flex-column justify-content-between align-items-end p-0">
            
            <label class="form-check-label d-flex justify-content-center align-items-center" for="flexSwitchCheckChecked">
              <i v-if="!darkMode" class="bi bi-moon-stars mx-3">Dark mode</i>
              <i v-else class="bi bi-sun mx-3">Day mode</i>
            </label>
            <input  type="checkbox" @click="setDarkMode" class="form-check-input d-none" id="flexSwitchCheckChecked" >
          </div>
        </div>
      </div>
      <!-- FIN OFFCANVAS NAV -->

    <header class="row d-flex justify-content-center align-items-center" :class="{darkContainer : darkMode}">
      <button class="btn btn-nav col-2 col-lg-2 d-flex justify-content-center align-items-center p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" :class="{darkClass : darkMode}"><i class="bi bi-list" :class="{darkIcon : darkMode}"></i></button>
      <h1 class="col-12 col-lg-7 m-0 p-0 text-center"><img src="./img/logoBank.png" alt=""> Mindhub Brothers Bank</h1>
      <div class="dropdown col-8 col-lg-3 d-flex align-items-center justify-content-evenly p-0">
        <a href="#" class="text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./img/imgPerfil.png" alt="" class="rounded-circle">
        </a>  
        <ul class="dropdown-menu text-small shadow" :class="{darkContainer : darkMode, bgDropdown : !darkMode}" aria-labelledby="dropdownUser1">
          <li><a @click="singOut()" class="dropdown-item" href="./index.html">Sign out</a></li>
        </ul>
      </div>
    </header>

        <!-- MAIN -->
    <main :class="{mainDarkMode : darkMode, bgMain : !darkMode}" class="d-flex justify-content-evenly align-items-center mainCreateCard">
        <div class="containerCreateCard">
          <div class="containerTypeCard d-flex justify-content-end align-items-center">
            <div class="d-flex flex-column justify-content-center containerDataType">
              <button @click="rotateCreateCard" class="btn btn-danger my-2" value="DEBIT">DEBIT</button>
              <button @click="rotateCreateCard" class="btn btn-danger my-2" value="CREDIT">CREDIT</button>
            </div>          
          </div>
          <div class="containerColorCard d-flex  justify-content-end align-items-center">
            <i @click="rotateCreateCard" class="bi bi-arrow-left-circle-fill iback mx-4"></i>
            <div class="d-flex flex-column align-items-center">
              <div class="containerDataColor d-flex flex-column justify-content-center align-items-center my-2">
                <button @click="cardColor" class="btn btn-danger my-2" value="SILVER">SILVER</button>
                <button @click="cardColor" class="btn btn-danger my-2" value="GOLD">GOLD</button>
                <button @click="cardColor" class="btn btn-danger my-2" value="TITANIUM">TITANIUM</button>
              </div>
              <p v-if="errorCreate!=''" class="text-white messageEr text-center p-1 mt-3">{{errorCreate}}</p>
              <i @click="createCard" class="bi bi-check-circle-fill"></i>
            </div>

          </div>

        </div>
        <div @click="rotateCard" class="cardDebit card m-3">
          <div class="face front d-flex flex-column text-white" :class="{backTitanium : inputColor == 'TITANIUM',backGold : inputColor == 'GOLD', backSilver : inputColor == 'SILVER'}">
            <div class="d-flex justify-content-between align-items-center">
              <img v-if="inputColor == 'TITANIUM'"  class="imgVisa" src="./img/imgVisaTitanium.png" alt="">
              <img v-else class="imgVisa" src="./img/imgVisa.png" alt="">
              <h5 class="titleCard">{{inputColor +" "+ inputType}} </h5>
            </div>
            <p class="numberCard my-3" :class="{textTitanium : inputColor == 'TITANIUM', textSilver: inputColor == 'SILVER'}">0000 0000 0000 0000</p>
            <div class="d-flex justify-content-between align-items-end mt-1">
              <div  class="validCard">
                <p class="text-center">VALID DATES</p>
                <span v-cloak :class="{textTitanium : inputColor == 'TITANIUM', textSilver: inputColor == 'SILVER'}">{{date()+"-"+date().slice(0,4)+6}}</span>
              </div>
              <p v-cloak class="cardHolder" :class="{textTitanium : inputColor == 'TITANIUM', textSilver: inputColor == 'SILVER'}">{{(client.firstName+" "+client.lastName).toUpperCase()}}</p>
            </div>
            <img class="visaLogo" src="./img/visaLogo.png" alt="">
          </div>
          <div class="face back" :class="{backTitanium : inputColor == 'TITANIUM',backGold : inputColor == 'GOLD', backSilver : inputColor == 'SILVER'}">
            <div class="barCode"></div>
            <div class="containerCvv d-flex">
              <p>000</p>
            </div>
            <p class="conditionsCard text-white ">This card is non-transferable and for the exclusive use of the holder whose signature appears above, in accordance with the terms and conditions that govern its use.</p>
          </div>
        </div>
      
    </main>

    <footer class="row" :class="{darkContainer : darkMode}">
      <div class="col-md-6 col-lg-3 text-center divFooter">
          <h3>LOCATION</h3>
          <p>4900 Southern Ave, South Gate, CA 90280, EE. UU.</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center divFooter">
          <h3>AROUND THE WEB</h3>
          <div>
          <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="bi bi-instagram btn"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter btn"></i></a>
          <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook btn"></i></a>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center divFooter">
          <h3>ABOUT</h3>
          <p>Mindhub Brothers provides the full range of personal and commercial banking services.</p>
      </div>
    </footer>

     
  </div> <!-- DIV APP VUE -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/create-cards.js"></script>
</body>
</html>